@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@700&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', 'sans-serif';
}

/* Apply Libre Caslon Display for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Caslon Display', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.backdrop-blur-lg {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7); /* Optional: to add a slight white tint */
}